.bigButton {
	height: 70;
	width: 200;
	font-family: arial;
	font-size: 20;
	border: 5px solid black;
}

.box{
/*background-color: #01BFFF;*/
}

.box2 {

}

.bg {
    background-color: #01BFFF;
    font-size: 18px;
}


.user_field {
    margin: auto;
    display: block
}

.header {
	text-align: center;
	font-size: 30px;
}

head {
    text-align: center;
}

body {
	font-family: arial;
	text-align: center;
	color: black;
}

/* https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l*/
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	table-layout: fixed;
}

.style_table thead {
	display: table-header-group;
}

/*.styled-table th,*/
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

table, th, td {
    border: 1px solid black;
}

