.search-table-outter { overflow-x: auto; }
td { max-width: 100px; }
/*th { max-width: 100px; }*/

body, html {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
